<section class="content" role="content" layout="row" layout-padding md-scroll-y>
	<md-content class="cards_chart md-whiteframe-1dp" layout="column" flex>
		<md-input-container>
			<label>Select Country</label>
			<md-select ng-model="selectedCountry" md-selected-text="getSelectedCountry()">
				<md-option ng-value="country" ng-repeat="country in countries">{{country.name}}</md-option>
			</md-select>
		</md-input-container>

		<canvas id="radar" class="chart chart-radar"
			chart-data="dataRadarChart" chart-labels="labelsRadarChart" chart-legend="true" chart-series="series" chart-colours="colours">
		</canvas>
		<md-button class="md-raised md-primary" ng-click="exportImage('radar')">Export Image</md-button>
	</md-content>

	<md-content class="cards_chart md-whiteframe-1dp" layout="column" flex>
		<md-input-container>
			<label>Select Country</label>
			<md-select ng-model="selectedBarCountry" md-selected-text="getSelectedBarCountry()">
				<md-option ng-value="country" ng-repeat="country in countries">{{country.name}}</md-option>
			</md-select>
		</md-input-container>

		<canvas id="bar" class="chart chart-bar" chart-data="dataBarChart" chart-legend="true"
			chart-labels="labelsBarChart" chart-series="series" chart-colours="colours">
		</canvas>
		<md-button class="md-raised md-primary" ng-click="exportImage('bar')">Export Image</md-button>
  </md-content>
</section>

<section class="section" role="content" layout="column" layout-padding md-scroll-y>
	<md-content class="cards_chart md-whiteframe-1dp" layout="column" flex>
		<md-input-container>
			<label>Select Country</label>
			<md-select ng-model="selectedLineCountry" md-selected-text="getSelectedLineCountry()">
				<md-option ng-value="country" ng-repeat="country in countries">{{country.name}}</md-option>
			</md-select>
		</md-input-container>

		<canvas height="95" id="line" class="chart chart-line" chart-data="dataLineChart" chart-legend="true"
			chart-labels="labelsLineChart" chart-series="series" chart-colours="colours">
		</canvas>
		<md-button class="md-raised md-primary" ng-click="exportImage('line')">Export Image</md-button>
  </md-content>
</section>