<section class="content" role="content" layout="column" layout-padding md-scroll-y>
		<md-card>
			<md-input-container style="margin: 30px 15px 0 15px;">
				<label>Search</label>
				<input type="text" ng-model="filter.search">
			</md-input-container>
		</md-card>

		<md-card>
			<md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
				<div class="md-toolbar-tools">
					<span>Gender Development Index (GDI) Table</span>
					<div flex></div>
				</div>
			</md-toolbar>

			<md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
				<div class="md-toolbar-tools">
					<span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
				</div>
			</md-toolbar>

			<md-table-container>
				<table md-table md-row-select="options.rowSelection" ng-model="selected">
					<thead md-head md-order="query.order" md-on-reorder="logOrder">
						<tr md-row>
							<th md-column md-order-by="name"><span>Country</br>(name)</span></th>
							<th md-column md-numeric md-order-by="gdi_value"><span>GDI Value</br>(value)</span></th>
							<th md-column md-numeric md-order-by="gdi_group"><span>GDI Group</br>(group)</span></th>
							<th md-column md-numeric md-order-by="hdi_f"><span>HDI Female</br>(value)</span></th>
							<th md-column md-numeric md-order-by="hdi_m"><span>HDI Male</br>(value)</span></th>
							<th md-column md-numeric md-order-by="le_f"><span>LE Female</br>(years)</span></th>
							<th md-column md-numeric md-order-by="le_m"><span>LE Male</br>(years)</span></th>
							<th md-column md-numeric md-order-by="eys_f"><span>EYS Female</br>(years)</span></th>
							<th md-column md-numeric md-order-by="eys_m"><span>EYS Male</br>(years)</span></th>
							<th md-column md-numeric md-order-by="mys_f"><span>MYS Female</br>(years)</span></th>
							<th md-column md-numeric md-order-by="mys_m"><span>MYS Male</br>(years)</span></th>
							<th md-column md-numeric md-order-by="gni_f"><span>GNI Female</br>(PPP $)</span></th>
							<th md-column md-numeric md-order-by="gni_m"><span>GNI Male</br>(PPP $)</span></th>
						</tr>
					</thead>
					<tbody md-body>
							<tr md-row md-select="country" md-on-select="logItem" md-auto-select="options.autoSelect"
								ng-repeat="country in countries | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
							<td md-cell>{{country.name}}</td>
							<td md-cell>{{country.gdi_value}}</td>
							<td md-cell>{{country.gdi_group}}</td>
							<td md-cell>{{country.hdi_f}}</td>
							<td md-cell>{{country.hdi_m}}</td>
							<td md-cell>{{country.le_f}}</td>
							<td md-cell>{{country.le_m}}</td>
							<td md-cell>{{country.eys_f}}</td>
							<td md-cell>{{country.eys_m}}</td>
							<td md-cell>{{country.mys_f}}</td>
							<td md-cell>{{country.mys_m}}</td>
							<td md-cell>{{country.gni_f | currency}}</td>
							<td md-cell>{{country.gni_m | currency}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
				md-total="{{countries.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"
				md-on-paginate="logPagination">
			</md-table-pagination>
		</md-card>
</section>