<section class="content" role="content" layout="column" layout-padding md-scroll-y>
		<md-card>

			<md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
				<div class="md-toolbar-tools">
					<span>Gender Development Index (GDI)</span>
					<div flex></div>
					<md-button class="md-icon-button" ng-click="loadStuff()" aria-label="Refresh">
						<span class="icon-sync"></span>
					</md-button>
				</div>
			</md-toolbar>

			<md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
				<div class="md-toolbar-tools">
					<span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
				</div>
			</md-toolbar>

			<md-table-container>
				<table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
					<thead md-head md-order="query.order" md-on-reorder="logOrder">
						<tr md-row>
							<th md-column md-order-by="name"><span>Country</span></th>
							<th md-column md-numeric md-order-by="fat.value"><span>HDI - Female</span></th>
							<th md-column md-numeric md-order-by="carbs.value"><span>HDI- Male</span></th>
							<th md-column md-numeric md-order-by="protein.value"><span>LE - Female</span></th>
							<th md-column md-numeric md-order-by="sodium.value"><span>LE - Male</span></th>
							<th md-column md-numeric md-order-by="calcium.value"><span>EYS - Female</span></th>
							<th md-column md-numeric md-order-by="iron.value"><span>EYS - Male</span></th>
							<th md-column md-numeric md-order-by="iron.value"><span>MYS - Female</span></th>
							<th md-column md-numeric md-order-by="iron.value"><span>MYS - Male</span></th>
							<th md-column md-numeric md-order-by="iron.value"><span>GNI - Female</span></th>
							<th md-column md-numeric md-order-by="iron.value"><span>GNI - Male</span></th>
						</tr>
					</thead>
					<tbody md-body>
							<tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
							<td md-cell>{{dessert.name}}</td>
							<td md-cell>{{dessert.calories.value}}</td>
							<td md-cell>{{dessert.fat.value | number: 2}}</td>
							<td md-cell>{{dessert.carbs.value}}</td>
							<td md-cell>{{dessert.protein.value | number: 2}}</td>
							<td md-cell>{{dessert.sodium.value}}</td>
							<td md-cell>{{dessert.calcium.value}}%</td>
							<td md-cell>{{dessert.iron.value}}%</td>
							<td md-cell>{{dessert.iron.value}}%</td>
							<td md-cell>{{dessert.iron.value}}%</td>
							<td md-cell>{{dessert.iron.value}}%</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>

			<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
		</md-card>
</section>