html, body {
  background-color: #EEEEEE;
  overflow-y: scroll;
 }

 html {
  overflow: hidden;
}

.fixed {
	position: fixed;
  z-index: 3;
}

.content {
  padding: 8% 5% 3% 5%;
}

#sidebar-list {
  margin-top: 5%;
}

#app-title {
  padding: 0;
}

#logo {
  font-size: 3em;
  margin: auto;
}

[class^="icon-"], [class*=" icon-"] {
    font-size: 24px;
    margin: 3%;
}

table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2),
table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
  padding: 0;
}

td {
  font-size: 0.7em !important;
}

table.md-table th.md-column md-icon:not(:last-child) {
  margin-right: 2px;
  margin-left: 5px;
}

md-card {
  margin: 8px !important;
}

h3.md-title {
  padding-left: 24px !important;
}

.cards_chart {
  margin: 5px;
}

md-block {
  margin-bottom: 100px !important;
}