body {
  overflow: hidden;
  background-color: #EEEEEE;
}

md-whiteframe {
  background: #fff;
}

#content {
  padding: 24px;
}

#sidebar-list {
  margin-top: 5%;
}

#app-title {
  padding: 0;
}

#logo {
  font-size: 3em;
  margin: auto;
}